#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [27]:
import pandas as pd

import urllib.request
from PIL import Image

## Data

In [28]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("data/train2.csv", index_col=0)

## Data exploration

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 1104 to 1173
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      912 non-null    int64
 1   TypeName     912 non-null    int64
 2   Inches       912 non-null    float64
 3   Ram          912 non-null    int64
 4   OpSys        912 non-null    int64
 5   Weight       912 non-null    float64
 6   Price_euros  912 non-null    float64
 7   Memory1_1    912 non-null    int64
 8   Memory1_2    912 non-null    int64
 9   Memory2_1    912 non-null    int64
 10  Resolution1  912 non-null    int64
 11  Gpu1         912 non-null    int64
 12  Gpu2         912 non-null    int64
 13  Cpu1         912 non-null    int64
 14  Cpu2         912 non-null    int64
 15  Cpu3         912 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 121.1 KB

In [30]:
train.head()

,Company,TypeName,Inches,Ram,OpSys,Weight,Price_euros,Memory1_1,Memory1_2,Memory2_1,Resolution1,Gpu1,Gpu2,Cpu1,Cpu2,Cpu3
laptop_ID,,,,,,,,,,,,,,,,
1104,19,6,15.6,4,9,2.40,387.0,500,4,0,1049088,0,0,0,11,0
114,20,7,13.3,8,9,1.23,1379.0,256,5,0,5760000,1,1,1,12,1
172,19,6,17.3,8,9,3.00,854.0,256,5,0,2073600,2,2,1,12,2
918,21,8,12.5,8,9,1.26,1483.0,512,5,0,2073600,1,3,1,12,1
447,22,6,17.3,8,9,2.80,519.0,1000,4,0,1440000,0,0,0,13,3

## Data processing

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [31]:
X = train.drop(['Price_euros'], axis=1)
y = train['Price_euros'].copy()
X.shape

(912, 15)

In [32]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [35]:
X_train

,Company,TypeName,Inches,Ram,OpSys,Weight,Memory1_1,Memory1_2,Memory2_1,Resolution1,Gpu1,Gpu2,Cpu1,Cpu2,Cpu3
laptop_ID,,,,,,,,,,,,,,,
26,20,6,15.6,4,9,2.30,1000,4,0,1049088,1,3,1,12,4
776,20,9,15.6,16,9,2.72,128,5,1000,15360,2,2,1,12,1
1263,23,9,15.6,16,9,2.50,256,5,1000,2073600,2,2,1,12,1
182,22,6,15.6,8,9,1.90,128,5,1000,2073600,0,8,1,12,2
321,21,10,13.3,16,9,1.29,1000,5,0,15360,1,4,1,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,20,11,15.6,8,9,2.00,256,5,0,2073600,2,5,1,12,1
441,22,6,15.6,16,9,2.50,512,5,0,2073600,2,5,1,12,1
955,23,6,17.3,4,9,2.80,1000,4,0,1440000,2,2,1,14,5
210,20,6,15.6,6,9,2.30,1000,4,0,1049088,1,3,1,12,4
673,28,6,15.6,4,9,2.10,128,5,0,1049088,1,3,1,12,4

### 3. Asignar el modelo (vacío) a una variable

In [36]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [37]:
model.fit(X_train, y_train)

LinearRegression()

In [38]:
prediction = model.predict(X_test)
prediction

array([1059.24153665,   72.9348974 ,  881.51986077, 1407.14850864,
       2082.34838497,  841.65096388, 1058.92769468, 1456.32814943,
        905.99156311, 1186.37897037, 1409.30418518,  473.36633091,
        646.74911034, 1252.46867438, 1506.51182951, 1948.08103685,
       1904.95801249, 1219.33553103,  850.65546848,  437.49350552,
        531.10851719,  629.83768943, 1143.75698368, 1239.97461986,
       1021.50353632,  609.91685163,  912.80035446, 1901.78063959,
       1036.67056848,  379.12304807, 1179.23872167, 1461.74888214,
        763.24707145, 1434.12284935, 1089.47019236,  366.0675553 ,
       1015.98662602,  894.66806587, 1204.64265017,  854.81628181,
       1338.55428453, 1197.23150122,  909.78933937, 1932.19763308,
        948.50087576,  540.18415921, 1614.99325219,  595.17447684,
       1270.11708971,  571.14876359, 1981.25247387,  959.25013987,
        337.67323189, 2179.81303895,  823.47340311, 1225.6722762 ,
       1816.30250497, 1429.15175964, 1883.16299097, 1957.69727321,
        357.92749955, 1077.88962956,  577.33178839, 1461.15651799,
        492.95554724, 1092.83370017,  705.71188458,  804.73405522,
       1341.20412057,  619.64978523, 1264.6145277 , 1051.4979491 ,
       1577.50028663, 1461.15651799, 1328.03189448, 2915.61534813,
       1625.28045381,  609.78455355,  613.82746451,  725.8499167 ,
       1092.39355623, 1083.52637011, 1889.40513823,  969.26504663,
        840.80283008, 1157.79065745, 1412.70912992,  615.90042637,
       2043.88343955,  541.94380106, 1170.74538927, 1133.88153187,
       1478.33403516,  828.81973919, 1069.44498781, 1143.87906064,
       2019.69271871,  830.17209834,  686.3314065 ,  643.08902457,
       1089.68811657, 1417.3192596 , 1428.56746081,  836.00225475,
       1191.93579633,  675.34487868,  948.95500721,  962.74715184,
        525.74833563,  815.71490684, 1197.06530445, 1656.29502379,
       1063.71598036, 1808.56433992, 1225.23003213, 1881.4144214 ,
        530.56233119,  762.78334485, 1212.83420992, 1094.62900396,
        437.88522048,  415.69918486, 1239.08054346,  812.18054164,
        909.02824552,  877.05001304,  931.83542093, 1596.08705135,
       1407.95834344, 1176.91971964,  343.2950985 ,  521.93742568,
        766.39026613, 1403.04303329, 3246.84201569, 1255.16383926,
       1912.41827654, 1519.16099158, 1868.14076823, 1424.44239764,
        937.78980221, 1455.59577276,  619.27688859,  761.25295373,
       1453.03916315,  692.7588872 , 1153.41175169, 1181.38693699,
       1172.19145058,  922.06642352,   51.78559883, 1914.11656838,
       1413.36812813, 2146.75347464, 1074.02236222, 1592.12490382,
        837.98926562, 1419.83226796, 2411.73771396, 1935.10484498,
       1153.93691313, 1445.91602511, 2301.43140393, 1274.86899878,
       1961.19003343,  574.88476481,  974.40288567,  847.59513339,
        698.58874654,  726.5218341 , 1481.12462991, 1132.37036014,
        466.38935677, 1167.50382693, 1116.26973411, 1143.87906064,
       1106.15910817,  361.56946344, 1455.6942148 ,  916.40366144,
        745.39358869,  640.92526248, 1092.67045513])

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [39]:
from sklearn.metrics import mean_squared_error
import numpy as np

print('RMSE :', np.sqrt(mean_squared_error(y_test, prediction)))

RMSE : 454.1072076354975

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [13]:
X_pred = pd.read_csv("data/test2.csv", index_col=0)
X_pred.head()

,Company,TypeName,Inches,Ram,OpSys,Weight,Memory1_1,Memory1_2,Memory2_1,Memory2_2,Resolution1,Gpu1,Gpu2,Cpu1,Cpu2,Cpu3
laptop_ID,,,,,,,,,,,,,,,,
750,9,0,14.0,8,0,1.25,256,1,0,4,2073600,1,3,1,12,2
726,14,0,14.0,4,0,1.40,32,0,0,4,2304000,1,3,1,21,29
633,14,0,14.0,2,0,1.40,32,3,0,4,2073600,1,3,1,21,15
363,1,3,15.6,8,0,2.65,1000,0,0,4,2073600,2,2,1,12,2
319,4,4,11.6,2,0,1.10,32,3,0,4,1049088,1,3,1,15,6

In [14]:
X_pred.shape

(391, 16)

**¿Por qué da error?**

In [15]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1226.19776101,   28.35335923,  155.15443347, 1108.91859732,
        728.60547994,  483.48832199,  535.02008634, 1927.19313338,
       1814.89584674, 1314.5536642 , 1084.82894655, 1111.85381163,
       1313.36783648, 1018.88331038,  690.45177683, 1069.20563923,
       1233.83576975, 2108.97501935,  542.19927004,  977.78246905,
       1194.72599137, 1089.96554234,  555.78416036, 1015.44496825,
        503.94937675, 1272.17000352,  579.79326545,  754.07498791,
       -108.12132561, 1314.5536642 , 1142.05723815, 1123.29941838,
        871.05075915, 1004.69899737, 1613.09739686, 1245.60544102,
       1083.08194805, 1211.86201634,  607.23917101, 1984.39478329,
       1903.94136615, 1289.86528221,  635.84253581, 1372.42883573,
       1042.27855197, 2109.37864488,  212.79365849, 1957.17294936,
        993.33223118, 1945.08878886,  736.31843084,  397.48040049,
        762.89545114, 1133.3367634 ,  659.43801876,  712.50284242,
       1310.40227415,  917.6789895 , 1126.53914372, 1227.17912375,
        718.83857   , 1545.89905244, 1114.04324993,  535.96686954,
        941.40814225,  316.17297294, 1482.15363577, 1912.21520941,
        923.12539049,  632.22843818,  517.62456181, 1372.42883573,
       3119.25196745, 1841.62045167,  817.94058694,  921.43012224,
        688.32983365, 1980.95043932, -165.11999792, 1456.46612074,
        672.97731196,  761.50520177, 1109.58830601, 1846.7837836 ,
       1268.51625287,  961.28462965, 1069.22402624, 1423.87245701,
        735.4455644 ,  881.58751047, 1408.12872024, 1009.22980746,
        492.38497899, 2272.07013186, 1672.89277291, 1567.60250088,
       1069.42377626,  588.70461012,  375.10153073,  262.82524389,
       1350.7499037 ,  850.59063824, 1119.43323801,  616.70349196,
       1011.1522493 ,  474.34094908, 1993.73097771, 1020.53807674,
       1812.98551957, 1231.79822611, 1197.65037339,  380.75980204,
       1227.62716342, 1961.26768654, 1145.08541996, 1328.42375558,
       1450.29728926, 2599.73958994,  729.52094825, 1416.39942721,
        772.58942056, 1214.35442687, 1925.94390622, 1462.08499566,
        702.50971668, 1085.70454688,  424.44740227,  340.16822736,
        817.00114323, 1229.76568487,  341.09049994,  977.78246905,
        940.09600968,  665.82923495,  512.29784012, 1990.94636277,
       1882.78724966, 2103.01759067, 2019.74405481, 1157.3590625 ,
       1206.64808911, 1460.56085791,  700.03222472, 1929.8789753 ,
       2201.21490713,  451.31099513, 1853.08844175,  940.09600968,
        931.3779206 , 1123.66202179, 1629.42636541, 1304.13799323,
       1153.59177962, -255.15364495, 1843.63300402, 1086.2199201 ,
       1450.37942878,  825.95665963, 1355.38202199, 1282.24243617,
       3156.94723566, 1320.4771758 ,  731.77579357,  556.60222258,
       1019.00992781, 3185.44348488, 1151.67959286, 1283.06891729,
        886.36207067, 1076.99944899,  618.82204994,  643.68392571,
        770.48646734,  643.43924253, 1916.90952873,  690.16353759,
       1392.24931345, 1337.83657509, 1419.13919315,  860.81639087,
        692.96566429, 1989.57776907, 1065.68292817,  906.06679043,
       1483.76138782, 1049.40215755,  978.72157191,  850.95064383,
        886.48319249, 1138.947979  , 1187.74512321,  584.04377266,
       -120.46481098,  404.16013247, 1049.96037452, 2091.96180031,
       1372.42883573,  538.76174585,  906.49870907, 2663.22791366,
        931.86577932, 1069.20563923, 1258.52415174, 1806.5578931 ,
        881.81032708, 1380.35899009, 1768.87377448, 1233.01682232,
       1136.72686984,  350.50247138, 1427.96719418,  315.7489046 ,
       1138.947979  , 1229.91442812, 1464.65559508,  401.67284639,
       1064.45130289, 1272.43051594,  728.27464268, 1229.4489232 ,
        308.20599042,  399.41171964, -360.92877003, 1520.18209944,
        549.66545734, 1978.09026222, 1254.77238771, 1755.64155216,
       1468.42072325, 1410.41312384,  679.1073897 ,  316.56785203,
       1461.9162871 , 1519.36825721, 1039.97045292,  759.4130978 ,
        957.90187215,  822.10623752,  682.67177621,  588.57108299,
       1280.12344591,  884.16944225, 1498.19574561, 1416.93769544,
        908.71176529,  672.48448753, 1187.88940335, 2008.06398295,
       1103.03672654, 1315.65080194, 1188.33156002, 1977.24533607,
       1118.92183258, 1164.80078591,  804.32825287,  760.78589084,
       1188.36605319, 1313.23641598, 1192.25365893, 1439.96721309,
        834.84806426, 2182.73588999,  799.04502836, 2063.65671639,
        350.05049304,  640.7149563 ,  480.30827705,  414.75371059,
       1346.20990907,  915.4009745 , 1065.68292817,  903.92861548,
       -252.28051966,  346.58604553, 1868.78632368, 1907.07450106,
       1957.58242308,  652.8350742 ,  543.82417371, 1846.7837836 ,
       1120.39703797, 1193.59587449, 5982.36276246,  847.97419096,
       1072.06875112,  605.14686488, 1151.79580503, 1394.93515537,
       -647.21366692, 1520.70576634, 2131.4902256 , 1663.84992638,
        944.96126561,  914.26291796,  574.61206802,  769.06517956,
        615.91820177,  881.58751047, 1967.6851531 ,  854.21673058,
        374.96154514,  707.88199997,  558.76264663, 1408.7482211 ,
       1006.38692382, 2131.4902256 , 1890.30651982,  604.89819131,
       -202.79270894, 3391.1417584 , 1197.00100356,  621.1303993 ,
       1836.67195083, 2132.9470982 , 1375.21485992, 1234.24524347,
       1988.9925049 , 1981.08525516, 2299.42050198, 1412.63385624,
        366.63449874,  679.14835985, 1480.04483299, 1409.48209113,
       1058.61490722,  986.65136812, 1161.58784627,  654.52362886,
       2023.20812562, 1065.68292817, 1621.7105552 ,  221.88709429,
       1835.39527514, 1136.72686984,  421.75070403,  735.4455644 ,
       1703.22886063, 1290.51429944, 1191.33500918,  650.42889169,
       1291.60729099,  842.20135176,  231.11509411, 1302.53338728,
        643.68392571,  797.41785553,  339.4569543 ,  812.56667546,
       1064.29195462, 1281.28284549, 1065.68292817, 2185.79499877,
        651.02268595, 1226.9920809 , 2139.67969994, 1210.23084968,
        547.60529185, 3237.61062719,  703.68225016, 1275.23995241,
       1251.1225554 , 1020.45140291, 1225.76365975, 1961.26768654,
       1075.68635642,   94.87441918,  349.45236155,  565.20205585,
       1533.39958865,   42.05309679,  770.13282807,  495.18816841,
       1891.6587537 ,  746.07028515,  451.31099513, 1092.65114036,
       1322.81642978,  659.05622379, 1051.435717  , 1391.71104522,
       1285.17573106, 1405.04737208,  930.66818455,  959.0217541 ,
       1612.07754519, 1604.06678348, 1918.41371122, 1231.13862574,
        528.7703488 ,  406.53260585, 1000.4317512 ])

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

In [16]:
X_pred = pd.read_csv("data/test2.csv", index_col=0)
X_pred.head()

,Company,TypeName,Inches,Ram,OpSys,Weight,Memory1_1,Memory1_2,Memory2_1,Memory2_2,Resolution1,Gpu1,Gpu2,Cpu1,Cpu2,Cpu3
laptop_ID,,,,,,,,,,,,,,,,
750,9,0,14.0,8,0,1.25,256,1,0,4,2073600,1,3,1,12,2
726,14,0,14.0,4,0,1.40,32,0,0,4,2304000,1,3,1,21,29
633,14,0,14.0,2,0,1.40,32,3,0,4,2073600,1,3,1,21,15
363,1,3,15.6,8,0,2.65,1000,0,0,4,2073600,2,2,1,12,2
319,4,4,11.6,2,0,1.10,32,3,0,4,1049088,1,3,1,15,6

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [17]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1226.19776101,   28.35335923,  155.15443347, 1108.91859732,
        728.60547994,  483.48832199,  535.02008634, 1927.19313338,
       1814.89584674, 1314.5536642 , 1084.82894655, 1111.85381163,
       1313.36783648, 1018.88331038,  690.45177683, 1069.20563923,
       1233.83576975, 2108.97501935,  542.19927004,  977.78246905,
       1194.72599137, 1089.96554234,  555.78416036, 1015.44496825,
        503.94937675, 1272.17000352,  579.79326545,  754.07498791,
       -108.12132561, 1314.5536642 , 1142.05723815, 1123.29941838,
        871.05075915, 1004.69899737, 1613.09739686, 1245.60544102,
       1083.08194805, 1211.86201634,  607.23917101, 1984.39478329,
       1903.94136615, 1289.86528221,  635.84253581, 1372.42883573,
       1042.27855197, 2109.37864488,  212.79365849, 1957.17294936,
        993.33223118, 1945.08878886,  736.31843084,  397.48040049,
        762.89545114, 1133.3367634 ,  659.43801876,  712.50284242,
       1310.40227415,  917.6789895 , 1126.53914372, 1227.17912375,
        718.83857   , 1545.89905244, 1114.04324993,  535.96686954,
        941.40814225,  316.17297294, 1482.15363577, 1912.21520941,
        923.12539049,  632.22843818,  517.62456181, 1372.42883573,
       3119.25196745, 1841.62045167,  817.94058694,  921.43012224,
        688.32983365, 1980.95043932, -165.11999792, 1456.46612074,
        672.97731196,  761.50520177, 1109.58830601, 1846.7837836 ,
       1268.51625287,  961.28462965, 1069.22402624, 1423.87245701,
        735.4455644 ,  881.58751047, 1408.12872024, 1009.22980746,
        492.38497899, 2272.07013186, 1672.89277291, 1567.60250088,
       1069.42377626,  588.70461012,  375.10153073,  262.82524389,
       1350.7499037 ,  850.59063824, 1119.43323801,  616.70349196,
       1011.1522493 ,  474.34094908, 1993.73097771, 1020.53807674,
       1812.98551957, 1231.79822611, 1197.65037339,  380.75980204,
       1227.62716342, 1961.26768654, 1145.08541996, 1328.42375558,
       1450.29728926, 2599.73958994,  729.52094825, 1416.39942721,
        772.58942056, 1214.35442687, 1925.94390622, 1462.08499566,
        702.50971668, 1085.70454688,  424.44740227,  340.16822736,
        817.00114323, 1229.76568487,  341.09049994,  977.78246905,
        940.09600968,  665.82923495,  512.29784012, 1990.94636277,
       1882.78724966, 2103.01759067, 2019.74405481, 1157.3590625 ,
       1206.64808911, 1460.56085791,  700.03222472, 1929.8789753 ,
       2201.21490713,  451.31099513, 1853.08844175,  940.09600968,
        931.3779206 , 1123.66202179, 1629.42636541, 1304.13799323,
       1153.59177962, -255.15364495, 1843.63300402, 1086.2199201 ,
       1450.37942878,  825.95665963, 1355.38202199, 1282.24243617,
       3156.94723566, 1320.4771758 ,  731.77579357,  556.60222258,
       1019.00992781, 3185.44348488, 1151.67959286, 1283.06891729,
        886.36207067, 1076.99944899,  618.82204994,  643.68392571,
        770.48646734,  643.43924253, 1916.90952873,  690.16353759,
       1392.24931345, 1337.83657509, 1419.13919315,  860.81639087,
        692.96566429, 1989.57776907, 1065.68292817,  906.06679043,
       1483.76138782, 1049.40215755,  978.72157191,  850.95064383,
        886.48319249, 1138.947979  , 1187.74512321,  584.04377266,
       -120.46481098,  404.16013247, 1049.96037452, 2091.96180031,
       1372.42883573,  538.76174585,  906.49870907, 2663.22791366,
        931.86577932, 1069.20563923, 1258.52415174, 1806.5578931 ,
        881.81032708, 1380.35899009, 1768.87377448, 1233.01682232,
       1136.72686984,  350.50247138, 1427.96719418,  315.7489046 ,
       1138.947979  , 1229.91442812, 1464.65559508,  401.67284639,
       1064.45130289, 1272.43051594,  728.27464268, 1229.4489232 ,
        308.20599042,  399.41171964, -360.92877003, 1520.18209944,
        549.66545734, 1978.09026222, 1254.77238771, 1755.64155216,
       1468.42072325, 1410.41312384,  679.1073897 ,  316.56785203,
       1461.9162871 , 1519.36825721, 1039.97045292,  759.4130978 ,
        957.90187215,  822.10623752,  682.67177621,  588.57108299,
       1280.12344591,  884.16944225, 1498.19574561, 1416.93769544,
        908.71176529,  672.48448753, 1187.88940335, 2008.06398295,
       1103.03672654, 1315.65080194, 1188.33156002, 1977.24533607,
       1118.92183258, 1164.80078591,  804.32825287,  760.78589084,
       1188.36605319, 1313.23641598, 1192.25365893, 1439.96721309,
        834.84806426, 2182.73588999,  799.04502836, 2063.65671639,
        350.05049304,  640.7149563 ,  480.30827705,  414.75371059,
       1346.20990907,  915.4009745 , 1065.68292817,  903.92861548,
       -252.28051966,  346.58604553, 1868.78632368, 1907.07450106,
       1957.58242308,  652.8350742 ,  543.82417371, 1846.7837836 ,
       1120.39703797, 1193.59587449, 5982.36276246,  847.97419096,
       1072.06875112,  605.14686488, 1151.79580503, 1394.93515537,
       -647.21366692, 1520.70576634, 2131.4902256 , 1663.84992638,
        944.96126561,  914.26291796,  574.61206802,  769.06517956,
        615.91820177,  881.58751047, 1967.6851531 ,  854.21673058,
        374.96154514,  707.88199997,  558.76264663, 1408.7482211 ,
       1006.38692382, 2131.4902256 , 1890.30651982,  604.89819131,
       -202.79270894, 3391.1417584 , 1197.00100356,  621.1303993 ,
       1836.67195083, 2132.9470982 , 1375.21485992, 1234.24524347,
       1988.9925049 , 1981.08525516, 2299.42050198, 1412.63385624,
        366.63449874,  679.14835985, 1480.04483299, 1409.48209113,
       1058.61490722,  986.65136812, 1161.58784627,  654.52362886,
       2023.20812562, 1065.68292817, 1621.7105552 ,  221.88709429,
       1835.39527514, 1136.72686984,  421.75070403,  735.4455644 ,
       1703.22886063, 1290.51429944, 1191.33500918,  650.42889169,
       1291.60729099,  842.20135176,  231.11509411, 1302.53338728,
        643.68392571,  797.41785553,  339.4569543 ,  812.56667546,
       1064.29195462, 1281.28284549, 1065.68292817, 2185.79499877,
        651.02268595, 1226.9920809 , 2139.67969994, 1210.23084968,
        547.60529185, 3237.61062719,  703.68225016, 1275.23995241,
       1251.1225554 , 1020.45140291, 1225.76365975, 1961.26768654,
       1075.68635642,   94.87441918,  349.45236155,  565.20205585,
       1533.39958865,   42.05309679,  770.13282807,  495.18816841,
       1891.6587537 ,  746.07028515,  451.31099513, 1092.65114036,
       1322.81642978,  659.05622379, 1051.435717  , 1391.71104522,
       1285.17573106, 1405.04737208,  930.66818455,  959.0217541 ,
       1612.07754519, 1604.06678348, 1918.41371122, 1231.13862574,
        528.7703488 ,  406.53260585, 1000.4317512 ])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [19]:
sample = pd.read_csv("data/sample_submission.csv")

In [20]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [22]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [21]:
submission = pd.DataFrame({"laptop_ID": sample['laptop_ID'], "Price_euros": predictions_submit})

In [22]:
submission.head()

   laptop_ID  Price_euros
0        750  1226.197761
1        726    28.353359
2        633   155.154433
3        363  1108.918597
4        319   728.605480

In [23]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [25]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [26]:
chequeator(submission)

You're ready to submit!